// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-buffer {
  padding-bottom: 10px;
  display: block;
  height: 40px;
}

.form-horizontal .control-label {
  text-align:left !important; 
}

.thumbnail {
  height: 150px !important;
}

.search-box {
  margin-left: 0px !important;
  padding-left: 0px !important;
}